:root {
  --black-primary-news: #1d2027;
  --color-active: #f91212;
  --color-input-search: #8d8d8d;
}

body {
  font-family: "DM Sans", sans-serif;
}

/* Toogle */
.toggle::before,
.toggle::after {
  content: "";
  display: block;
  border-radius: 1em;
  position: absolute;
  z-index: 1;
}
/* Toogle */

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  -webkit-transition: 500ms all ease;
  transition: 500ms all ease;
}
/* Hover Text */

/* Navigation */

.site-navigation .navigation ul.sub-menu li a:hover:after {
  width: 13px;
}

.site-navigation .navigation ul.sub-menu li a:after {
  position: absolute;
  height: 3px;
  background: var(--color-active);
  content: "";
  left: 0.75rem;
  top: 0.75rem;
  width: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* Navigation */

/* Header MB */
#menu-toggle:checked + .menu-btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu-toggle:checked + .menu-btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: 0.25s;
}
.menu-btn > span::before {
  content: "";
  top: -8px;
}
.menu-btn > span::after {
  content: "";
  top: 8px;
}
/* Header MB */

/* Search Header */
.box-search .search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 10px;
  width: 7px;
  height: 2px;
  background: var(--color-input-search);
  transform: rotate(45deg);
  transition: all 0.5s;
}
.box-search .search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -3px;
  right: 0;
  bottom: 0;
  left: -3px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 2px solid var(--color-input-search);
  transition: all 0.5s;
}
.box-search input:focus ~ .search::before {
  top: 0;
  left: 0;
  width: 20px;
}
.box-search input:focus ~ .search::after {
  top: 0;
  left: 0;
  width: 20px;
  height: 2px;
  border: none;
  background: var(--color-input-search);
  border-radius: 0%;
  border: var(--color-input-search) 1px solid;
  transform: rotate(-45deg);
}
/* Search Header */

/* Footer */
footer ul li span:before,
footer .info-date:before {
  content: "";
  position: absolute;
  background: var(--black-primary-news);
  width: 3px;
  height: 12px;
  left: 0;
  top: 6px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.dark footer ul li span:before,
.dark footer .info-date:before {
  background: white;
}
footer .info-date:before {
  width: 1px;
  top: 4px;
  background: #aaa;
}
footer ul li span:hover:before {
  background: var(--color-active);
}
/* Footer */

/* Breadcrumbs */
.breadcrumbs > li:first-child > a:after {
  content: "";
}
.breadcrumbs > li > a:after,
.breadcrumbs > li > span:after {
  position: absolute;
  content: "/";
  top: 0;
  left: -1.5rem;
  color: #434343;
}
/* Breadcrumbs */
